<div class="bxslider">
  <div class="card-news">
    <div style="display: flex;">
      <img src="{{newsData[0].image}}"/>
      <p style="margin-left: 10px;min-height: 50%">{{newsData[0].title}}</p>
    </div>
  </div>
  <div class="card-news">
    <div style="display: flex;">
      <img src="{{newsData[1].image}}"/>
      <p style="margin-left: 10px; min-height: 50%">{{newsData[1].title}}</p>
    </div>
  </div>
  <div class="card-news">
    <div style="display: flex;">
      <img src="{{newsData[2].image}}"/>
      <p style="margin-left: 10px;min-height: 50%">{{newsData[2].title}}</p>
    </div>
  </div>
</div>
